[Unit]
Description=IA Player Service
After=network.target

[Service]
ExecStart=/home/pi/ia-player/.venv/bin/python main.py
WorkingDirectory=/home/pi/ia-player
User=pi
Restart=always

[Install]
WantedBy=multi-user.target
