[Unit]
Description=IA Player Service
After=network.target sound.target

[Service]
ExecStart=/home/pi/ia-player/.venv/bin/gunicorn --bind 0.0.0.0:5000 main:app
WorkingDirectory=/home/pi/ia-player
User=infoactive
Group=infoactive
Restart=always
RestartSec=5
Environment="DISPLAY=:0"
Environment="PULSE_SERVER=unix:/run/user/1000/pulse/native"

[Install]
WantedBy=graphical.target